.footer-container {
  height: 50px;
}
.footer-copyright {
  margin-left: 50px;
  font-weight: 700;

  font-family: "Darker Grotesque", sans-serif;
  font-family: "Inconsolata", monospace;
  font-family: "Martel Sans", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Roboto Mono", monospace;
}
.footer-top {
  display: flex;
  align-items: center;
}
.ft-left ul,
.ft-right ul {
  list-style: none;
}

.ft-left ul li,
.ft-right ul li {
  font-size: 1.6rem;
  letter-spacing: -0.02em;
  line-height: 1.5;
  cursor: pointer;
  font-weight: 500;
}

.ft-right {
  margin-left: 300px;
}
.active {
  color: #f88379;
}
