.cont-main {
  height: 100%;
  overflow: hidden;
}
.contact-bottom {
  /* height: 110vh; */
  margin-top: 100px;
  background-color: transparent;
  color: white;
  display: flex;
  flex-direction: column;
}
.bg-block {
  display: block;
  height: 110px;
  width: 100%;
  transition: transform var(--transition-duration, 1s) ease;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #262523;
}

.d {
  transform: translate3d(0, 0, 0) rotateY(0deg);
}

.g {
  transform: translate3d(0, 0, 0) rotateY(0deg);
}

.r {
  transform: translate3d(0, 0, 0) rotateY(0deg);
}

.active {
  transform: translate3d(0, 0, 0) rotateY(180deg);
  --transition-duration: 0.5s;
}

.active1 {
  --transition-duration: 0.7s;
  transform: translate3d(0, 100px, 0) rotateY(180deg);
}

.active2 {
  --transition-duration: 0.9s;
  transform: translate3d(0, 200px, 0) rotateY(180deg);
}

.active3 {
  --transition-duration: 1.1s;
  transform: translate3d(0, 300px, 0) rotateY(180deg);
}

.active4 {
  --transition-duration: 1.3s;
  transform: translate3d(0, 400px, 0) rotateY(180deg);
}

.active5 {
  --transition-duration: 1.5s;
  transform: translate3d(0, 500px, 0) rotateY(180deg);
}

.active6 {
  --transition-duration: 1.7s;
  transform: translate3d(0, 600px, 0) rotateY(180deg);
}
.active7 {
  --transition-duration: 1.9s;
  transform: translate3d(0, 700px, 0) rotateY(180deg);
}
.active8 {
  --transition-duration: 2.1s;
  transform: translate3d(0, 800px, 0) rotateY(180deg);
}
.line-0 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-95%, -95%);
}
.line-0 h1,
.line-1 h1,
.line-2 h1,
.line-3 h1 {
  color: #ffff;
  font-size: 150px;
  white-space: nowrap;
}

.line-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -60%);
}
.line-2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -20%);
  display: flex;
}
.line-3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-88%, 20%);
  display: flex;
}

.char-1 {
  font-size: 150px;
  margin: 0 5px;
  color: white;
  font-family: Basis, arial;
  font-weight: 700;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid;
  margin-bottom: 4rem;
  padding-bottom: 1.2rem;
  width: 100%;
}
.form-field {
  align-items: center;
  display: flex;
  height: 3rem;
  padding-right: 1rem;
  width: 64.6153846154vw;
  background: none;
  border: 0;
  border-bottom: 0;
  outline: none;
  font-weight: 500;
  color: #ececec;
  font-size: 30px;
}

.form-submit {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cnt-submit {
  padding: 20px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 30px;
}
.cnt-submit:hover {
  background-color: #262523;
  color: white;
}
